version: 2.1
orbs:
  node: circleci/node@4.1.0
  coveralls: coveralls/coveralls@2.2.1
jobs:
  build:
    docker:
      - image: cimg/node:18.18.0
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Build project
          command: npm run build
      - run:
          name: code-coverage
          command: npm run coverage
      - coveralls/upload
